*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    height: 100vh;
}
.item {
    height: 200px;
    width: 200px;    
}
.item:first-child{
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:last-child{
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(2){
    color: white;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}